.Oнас{
    width: 1400px;
    height: 1000px;
    border: $brd;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    &-top{
        width: 40%;
        height: 10%;
        border: $brd;
        position: relative;
        .We{
            width: 120px;
            position: absolute;
            top: -77%;
            left: 40%;
        }
        h2{
            color: var(--, #1C1C1C);
text-align: center;
font-family: $roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
        }
        h3{
            color: var(--, #1C1C1C);
text-align: center;
font-family: $roboto;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: uppercase;
        }
    }
    &-center{
        width: 70%;
        height: 60%;
        border: $brd;
        &-top{
        width: 100%;
        height: 50%;
        border: $brd;
        display: flex;
        gap: 20px;
        &-left{
        width: 50%;
        height: 100%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
font-family: $roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
width: 466px;
span{
color: var(--, #1C1C1C);
font-family: Rasfire Regular Personal Use;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
        }
        }
         .Oнас-center-top-right{
       width: 355px;
        height: 256px;
        flex-shrink: 0;
        border-radius: 30px;
        background-image: url(../../img/onas-img.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        }
         &-bottom{
        width: 100%;
        height: 50%;
        border: $brd;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        &-left{
        width: 294px;
        height: 197px;
        flex-shrink: 0;
        border-radius: 30px;
        background-image: url(../../img/onas--img.png);
        background-size: cover;
        }


        
        &-center{
        width: 35%;
        height: 50%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
font-family: $roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
width: 352px;}
        }
        &-right{
        width: 30%;
        height: 60%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
font-family: $roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
width: 282px;
        }
        }


        }
    }
    &-bottom{
        width: 1120px;
        height: 216px;
        border: $brd;
        background-image: url(../../img/СВЯЗАТЬСЯ.png);
        background-size: cover;
    }
}

@media screen and (max-width:1024px) {
    .Oнас{
    width: 1000px;
    height: 1200px;
    border: $brd;
    &-top{
        width: 40%;
        height: 10%;
        border: $brd;
        position: relative;
        .We{
            width: 120px;
            position: absolute;
            top: -57%;
            left: 40%;
        }
        h2{
            color: var(--, #1C1C1C);
text-align: center;
font-family: $roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
        }
        h3{
            color: var(--, #1C1C1C);
text-align: center;
font-family: $roboto;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: uppercase;
        }
    }

    &-center{
        width: 100%;
        height: 60%;
        border: $brd;
        &-top{
        width: 100%;
        height: 50%;
        border: $brd;
        display: flex;
        gap: 20px;
        &-left{
        width: 50%;
        height: 100%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
font-family: $roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
width: 466px;
span{
color: var(--, #1C1C1C);
font-family: Rasfire Regular Personal Use;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
        }
        }
         .Oнас-center-top-right{
       width: 405px;
        height: 326px;
        flex-shrink: 0;
        border-radius: 30px;
        background-image: url(../../img/onas-img.png);
        background-size: cover;
        
        }
        }
         &-bottom{
        width: 100%;
        height: 50%;
        border: $brd;
        display: flex;
        gap: 0px;
        justify-content: center;
        align-items: center;

        &-left{
        width: 284px;
        height: 267px;
        flex-shrink: 0;
        border-radius: 30px;
        background-image: url(../../img/onas--img.png);
        background-size: cover;
        }


        
        &-center{
        width: 35%;
        height: 50%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
font-family: $roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
width: 262px;}
        }
        &-right{
        width: 25%;
        height: 70%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
font-family: $roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
width: 262px;
        }
        }


        }
    }

    &-bottom{
        width: 1000px;
        height: 186px;
        border: $brd;
        background-image: url(../../img/СВЯЗАТЬСЯ.png);
        background-size: cover;
    }
    }
}
@media screen and (max-width:400px){
.Oнас{

width: 399px;
    height: 1900px;
    border: $brd;

    &-top{
        width: 100%;
        height: 5%;
        border: $brd;
        position: relative;
        .We{
            width: 100px;
            position: absolute;
            top: -57%;
            left: 40%;
        }
        h2{
            color: var(--, #1C1C1C);
text-align: center;
font-family: $roboto;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
        }
        h3{
            color: var(--, #1C1C1C);
text-align: center;
font-family: $roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: uppercase;
        }
    }
     &-center{
        width: 100%;
        height: 90%;
        border: $brd;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-top{
        width: 100%;
        height: 50%;
        border: $brd;
        display: flex;
        gap: 20px;
        display: flex;
        flex-direction: column;
        &-left{
        width: 100%;
        height: 100%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
font-family: $roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
width: 366px;
span{
color: var(--, #1C1C1C);
font-family: Rasfire Regular Personal Use;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
        }
        }
         .Oнас-center-top-right{
       width: 365px;
        height: 280px;
        flex-shrink: 0;
        border-radius: 30px;
        background-image: url(../../img/onas-img.png);
        background-size: cover;
        
        }
        }
         &-bottom{
        width: 100%;
        height: 50%;
        border: $brd;
        display: flex;
        gap: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        


        
        &-center{
        width: 100%;
        height: 50%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
        font-family: $roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px; /* 162.5% */
        width: 362px;
        }
        }
        &-right{
        width: 100%;
        height: 70%;
        border: $brd;
        p{
        color: var(--, #1C1C1C);
        font-family: $roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px; /* 162.5% */
        width: 362px;
        }
        }
        &-left{
        width: 365px;
        height: 280px;
        flex-shrink: 0;
        border-radius: 30px;
        background-image: url(../../img/onas--img.png);
        background-size: cover;
        }


        }
    }
    &-bottom{
        width: 1000px;
        height: 186px;
        border: $brd;
        background-image: url(../../img/СВЯЗАТЬСЯ.png);
        background-size: cover;
        display: none;
    }
}

}